@model DaewooLMS.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="breadcrumbs-top">
            <h5 class="content-header-title float-left pr-1 mb-0">Department</h5>
            <div class="breadcrumb-wrapper d-none d-sm-block">
                <ol class="breadcrumb p-0 mb-0 pl-1">
                    <li class="breadcrumb-item">
                        <a href="index"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="index">Index</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a>Create</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Basic Vertical form layout section start -->
    <section id="basic-vertical-layouts">
        <div class="row match-height">

            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Add Department</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div class="form-body">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Event Title</label>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Event_Title" type="text" id="first-name-icon" class="form-control" placeholder="Enter Title">

                                            </div>
                                            <span asp-validation-for="Event_Title" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Event Objactive</label>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Objactive" type="text" id="first-name-icon" class="form-control" placeholder="Enter Objactive Name">

                                            </div>
                                            <span asp-validation-for="Objactive" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Event Participent</label>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Participent" type="text" id="first-name-icon" class="form-control" placeholder="Enter Participent ">

                                            </div>
                                            <span asp-validation-for="Participent" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">start DateTime</label>
                                            <input asp-for="start_DateTime" type="datetime-local" id="qdDate" class="form-control" />
                                            <span asp-validation-for="start_DateTime" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">End DateTime</label>
                                            <input asp-for="End_DateTime" type="datetime-local" id="qdDate" class="form-control" />
                                            <span asp-validation-for="End_DateTime" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Add DateTime</label>
                                            <input asp-for="Add_DateTime" type="datetime-local" id="qdDate" class="form-control" />
                                            <span asp-validation-for="Add_DateTime" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="status" value="true" checked />
                                                </label>
                                            </div>
                                            <span asp-validation-for="status" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-12 d-flex justify-content-end">
                                        <input type="submit" value="Edit" class="btn btn-primary mr-1" />

                                        <button asp-action="Index" class="btn btn-light-secondary">Back</button>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Vertical form layout section end -->



</div>

@* <h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <label asp-for="Event_Title" class="control-label"></label>
                <input asp-for="Event_Title" class="form-control" />
                <span asp-validation-for="Event_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objactive" class="control-label"></label>
                <input asp-for="Objactive" class="form-control" />
                <span asp-validation-for="Objactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participent" class="control-label"></label>
                <input asp-for="Participent" class="form-control" />
                <span asp-validation-for="Participent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event_PIC" class="control-label"></label>
                <input asp-for="Event_PIC" class="form-control" />
                <span asp-validation-for="Event_PIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_DateTime" class="control-label"></label>
                <input asp-for="start_DateTime" class="form-control" />
                <span asp-validation-for="start_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_DateTime" class="control-label"></label>
                <input asp-for="End_DateTime" class="form-control" />
                <span asp-validation-for="End_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Add_DateTime" class="control-label"></label>
                <input asp-for="Add_DateTime" class="form-control" />
                <span asp-validation-for="Add_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

