@model DaewooLMS.Models.Events

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-body">
    <!-- Basic Vertical form layout section start -->
    <section id="basic-vertical-layouts">
        <div class="row match-height">

            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Add User</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div class="form-body">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <input type="hidden" asp-for="EventID" />
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Event Title</label>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Event_Title" type="text" class="form-control" placeholder="Enter Event Title" autocomplete="off" required>

                                            </div>
                                            <span asp-validation-for="Event_Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Event Objactive</label>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Objactive" type="text" id="first-name-icon" class="form-control" placeholder="Enter Objactive" autocomplete="off" required>

                                            </div>
                                            <span asp-validation-for="Objactive" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Event Participent</label>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Participent" type="text" id="first-name-icon" class="form-control" placeholder="Enter Participent " autocomplete="off" required>

                                            </div>
                                            <span asp-validation-for="Participent" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Date</label>
                                            <input asp-for="Add_DateTime" type="datetime-local" id="qdDate" class="form-control" />
                                            <span asp-validation-for="Add_DateTime" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Start Date</label>
                                            <input asp-for="start_DateTime" type="datetime-local" class="form-control" required />
                                            <span asp-validation-for="start_DateTime" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">End Date</label>
                                            <input asp-for="End_DateTime" type="datetime-local" class="form-control" required />
                                            <span asp-validation-for="End_DateTime" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 col-md-6">
                                        <fieldset class="form-group">
                                            <label>Profile Pic</label>
                                            <div class="custom-file">
                                                <input asp-for="Event_PIC" type="file" name="eventPic" class="custom-file-input" id="inputGroupFile01"
                                                       onchange="document.getElementById('FrontImage').src=window.URL.createObjectURL(this.files[0])" />
                                                <label class="custom-file-label" for="inputGroupFile01">@Model.Event_PIC</label>
                                            </div>
                                            <span asp-validation-for="Event_PIC" class="text-danger"></span>
                                            <img id="FrontImage" src="~/EventImages/@Model.Event_PIC" alt="Employee Image" width="150" height="150"
                                                 style="border:1px;margin-top:-10px;margin-left:120px;" />
                                        </fieldset>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="status" value="true" checked />
                                                </label>
                                            </div>
                                            <span asp-validation-for="status" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-12 d-flex justify-content-end">
                                        <input type="submit" value="Create" class="btn btn-primary mr-1" />

                                        <button asp-action="Index" class="btn btn-light-secondary">Back</button>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Vertical form layout section end -->
</div>

<script src="~/js/currentdatetime.js"></script>
<script type="text/javascript">
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("inputGroupFile01").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName;
    })
</script>


@* <h1>Edit</h1>

<h4>Events</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <label asp-for="Event_Title" class="control-label"></label>
                <input asp-for="Event_Title" class="form-control" />
                <span asp-validation-for="Event_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objactive" class="control-label"></label>
                <input asp-for="Objactive" class="form-control" />
                <span asp-validation-for="Objactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participent" class="control-label"></label>
                <input asp-for="Participent" class="form-control" />
                <span asp-validation-for="Participent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event_PIC" class="control-label"></label>
                <input asp-for="Event_PIC" class="form-control" />
                <span asp-validation-for="Event_PIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_DateTime" class="control-label"></label>
                <input asp-for="start_DateTime" class="form-control" />
                <span asp-validation-for="start_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_DateTime" class="control-label"></label>
                <input asp-for="End_DateTime" class="form-control" />
                <span asp-validation-for="End_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Add_DateTime" class="control-label"></label>
                <input asp-for="Add_DateTime" class="form-control" />
                <span asp-validation-for="Add_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
