@model LMSProject.Models.ViewModel.AddNewPolicyVM
@{
    ViewData["Title"] = "HRDevelopPolicies";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



                <!-- BEGIN: Content-->
     
  <div class="container my-5 ">
    <div class="content-body">
        <!-- app invoice View Page -->
        <section class="invoice-edit-wrapper">
            <div class="row">
                <div class="col-xl-3 col-md-8 col-12">
                    <select class="form-control select2" id="role" onchange="selectPolicy(this)" asp-items="ViewBag.Policy" required>
                        <option value="">Select Policy</option>
                    </select>
                </div>
                <!-- invoice view page -->
                <div class="col-xl-9 col-md-8 col-12">
                    <div class="card">
                        <div class="card-body pb-0 mx-25">
                            <form asp-action="HRDevelopPolicies" method="post" enctype="multipart/form-data">
                                <!-- header section -->
                                <div class="row mx-0">
                                    <div class="col-xl-8 col-md-12 d-flex align-items-center pl-0">
                                        <h6 class="invoice-number mb-0 mr-75">Policy Name</h6>
                                        <input type="text" asp-for="NewHrPolicies.PolicyName" name="NewHrPolicies.PolicyName" class="form-control pt-25 w-50">
                                    </div>
                                    <div class="col-xl-4 col-md-12 px-0 pt-xl-0 pt-1">
                                        <div class="invoice-date-picker d-flex align-items-center justify-content-xl-end flex-wrap">
                                            <div class="d-flex align-items-center">
                                                <small class="text-muted mr-75">Issue Date: </small>
                                                <fieldset class="d-flex">
                                                    <input type="datetime-local" asp-for="NewHrPolicies.PolicyDate" name="NewHrPolicies.PolicyDate" id="qdDate" class="form-control" />
                                                </fieldset>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- logo and title -->
                                <div class="row my-2 py-50">
                                    <div class="col-sm-12 col-12 order-2 order-sm-1">
                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-2 col-3">
                                                <label for="last-name" class="col-form-label">Heading :</label>
                                            </div>
                                            <div class="col-lg-10 col-9">
                                                <input type="text" id="last-name" asp-for="AddPolicies.PolicyHeading" name="AddPolicies.PolicyHeading" class="form-control" placeholder="Enter Heading" value="" required/>
                                            </div>
                                        </div>
                                        <textarea class="form-control" rows="17" asp-for="AddPolicies.PolicyDetail" name="AddPolicies.PolicyDetail" id="bulletTextarea" placeholder="Enter Detail" value=""></textarea>
                                    </div>
                               @*      <div class="col-sm-2 col-12 order-1 order-sm-1 d-flex justify-content-end">
                                        <img src="\images\learning___development-removebg-preview.png" height="100" width="100" />
                                    </div> *@
                                </div>



                        @*         <div class="row my-2 py-50">
                                    <div class="col-sm-12 col-12 order-2 order-sm-1">
                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-2 col-3">
                                                <label for="last-name" class="col-form-label">Heading 2:</label>
                                            </div>
                                            <div class="col-lg-6 col-9">
                                                <input type="text" id="last-name" asp-for="Heading2" class="form-control" name="Heading2" placeholder="Enter Heading" />
                                            </div>
                                        </div>
                                        <textarea class="form-control" rows="4" id="bulletTextarea" asp-for="Heading2_Detail" placeholder="Enter Detail"></textarea>
                                    </div>
                                </div>

                                <div class="row my-2 py-50">
                                    <div class="col-sm-12 col-12 order-2 order-sm-1">
                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-2 col-3">
                                                <label for="last-name" class="col-form-label">Heading 3:</label>
                                            </div>
                                            <div class="col-lg-6 col-9">
                                                <input type="text" id="last-name" asp-for="Heading3" class="form-control" name="Heading3" placeholder="Enter Heading" />
                                            </div>
                                        </div>
                                        <h4 class="text-primary">Objective</h4>
                                        <textarea class="form-control" rows="4" id="bulletTextarea" asp-for="Heading3_Detail" placeholder="Enter Detail"></textarea>
                                    </div>
                                </div>

                                <div class="row my-2 py-50">
                                    <div class="col-sm-12 col-12 order-2 order-sm-1">
                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-2 col-3">
                                                <label for="last-name" class="col-form-label">Heading 4:</label>
                                            </div>
                                            <div class="col-lg-6 col-9">
                                                <input type="text" id="last-name" asp-for="Heading4" class="form-control" name="Heading4" placeholder="Enter Heading" />
                                            </div>
                                        </div>
                                        <h4 class="text-primary">Objective</h4>
                                        <textarea class="form-control" rows="4" id="bulletTextarea" asp-for="Heading4_Detail" placeholder="Enter Detail"></textarea>
                                    </div>
                                </div>

                                <div class="row my-2 py-50">
                                    <div class="col-sm-12 col-12 order-2 order-sm-1">
                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-2 col-3">
                                                <label for="last-name" class="col-form-label">Heading 5:</label>
                                            </div>
                                            <div class="col-lg-6 col-9">
                                                <input type="text" id="last-name" asp-for="Heading5" class="form-control" name="Heading5" placeholder="Enter Heading" />
                                            </div>
                                        </div>
                                        <textarea class="form-control" rows="4" id="bulletTextarea" asp-for="Heading5_Detail" placeholder="Enter Detail"></textarea>
                                    </div>
                                </div> *@

                        @*         <div class="col-12 " id="addheading">
                                    <div class="row1">
                                    </div>
                                </div> *@
                                <div class="col-12 d-flex justify-content-end">
                                    <input type="submit" value="Next " class="btn btn-primary mb-5 mr-1" />

                                </div>

                          @*       <button type="button" class="btn btn-primary mb-5 my-5 float-right" onclick="addHeading()">Add Heading</button>
                                <button type="button" class="btn btn-danger mb-5 my-5 float-right mr-2" onclick="removeHeading()">Remove Heading</button>
                         *@
                            </form>
                          

                        </div>
                    </div>
                </div>

             
            </div>
        </section>

    </div>
                </div>
                        
                <!-- END: Content-->
<script src="~/js/currentdatetime.js"></script>
<script>
    let clickCount = 6;
    function addHeading() {
        if (clickCount >= 11) {
            return; // Prevent further execution if the button has been clicked 5 times
        }
        console.log();

        let heading = document.getElementById('addheading');
        // heading.innerHTML = "";

        for (let i = 6; i <= clickCount; i++) {
            var newDiv = document.createElement('div');
            newDiv.className = "row1";
            if (i == clickCount) {
                let newRow = '<div class="row my-2 py-50"><div class="col-sm-12 col-12 order-2 order-sm-1"><div class="form-group row align-items-center">' +
                    '<div class="col-lg-2 col-3"><label for= "last-name" class= "col-form-label"> Heading ' + i + ':</label></div><div class="col-lg-6 col-9">' +
                    '<input type="text" id = "last-name" name="Heading' + i + '" class="form-control"  placeholder = "Enter Heading"/>' +
                    '</div></div><textarea class="form-control" name="Heading' + i + '_Detail" rows = "4" placeholder = "Enter Detail"></textarea></div></div>'
                newDiv.innerHTML = newRow;
                heading.appendChild(newDiv);
                
                }

    
        }
        clickCount++;

    }

    function removeHeading() {
        let heading = document.getElementById('addheading');
        let rows = heading.getElementsByClassName('row1');

        if (rows.length > 0) {
            heading.removeChild(rows[rows.length - 1]);
            clickCount--;
        }
    }


    function selectPolicy(eve){
        console.log(eve.value);
        const url = `/Home/newPolicy?id=${eve.value}`;
        window.location.href = url;
    }



</script>
<script>
    // document.getElementById('bulletTextarea').addEventListener('keydown', function (e) {
    //     if (e.key === 'Enter') {
    //         e.preventDefault();
    //         let cursorPos = this.selectionStart;
    //         let textBeforeCursor = this.value.substring(0, cursorPos);
    //         let textAfterCursor = this.value.substring(cursorPos);
    //         this.value = textBeforeCursor + "\n* " + textAfterCursor;
    //         this.selectionStart = this.selectionEnd = cursorPos + 3; // Adjust cursor position
    //     }
    // });

    document.getElementById('bulletTextarea').addEventListener('keydown', function (e) {
        if (e.key == 'Tab') {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            this.value = this.value.substring(0, start) +
                "\t" + this.value.substring(end);

            // put caret at right position again
            this.selectionStart =
                this.selectionEnd = start + 1;
        }
    });

    // const textarea = document.getElementById('bulletTextarea');

    // textarea.addEventListener('input', () => {
    //     const lines = textarea.value.split('\n');
    //     for (let i = 0; i < lines.length; i++) {
    //         if (lines[i].length > 0 && lines[i + 1] !== undefined) {
    //             if (lines[i + 1].length < lines[i].length) {
    //                 lines[i + 1] = ' '.repeat(lines[i].length - lines[i + 1].length) + lines[i + 1];
    //             }
    //         }
    //     }
    //     textarea.value = lines.join('\n');
    // });

</script>

