@model DaewooLMS.Models.ViewModel.AddNewPolicyVM
@{
    ViewData["Title"] = "HRDevelopPolicies";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



                <!-- BEGIN: Content-->
     
  <div class="container my-5 ">
    <div class="content-body">
        <!-- app invoice View Page -->
        <section class="invoice-edit-wrapper">
            <div class="row">
                <div class="col-xl-3 col-md-8 col-12">
                    <select class="form-control select2" id="role" onchange="selectPolicy(this)" asp-items="ViewBag.Policy" required>
                        <option value="">Select Policy</option>
                    </select>
                </div>
                <!-- invoice view page -->
                <div class="col-xl-9 col-md-8 col-12">
                    <div class="card">
                        <div class="card-body pb-0 mx-25">
                                <!-- header section -->
                                <div class="row mx-0">
                                    <div class="col-xl-8 col-md-12 d-flex align-items-center pl-0">
                                        <h6 class="invoice-number mb-0 mr-75">Policy Name</h6>
                                        <input type="text" asp-for="NewHrPolicies.PolicyName" name="NewHrPolicies.PolicyName" class="form-control pt-25 w-50" id="policyName">
                                    </div>
                                    <div class="col-xl-4 col-md-12 px-0 pt-xl-0 pt-1">
                                        <div class="invoice-date-picker d-flex align-items-center justify-content-xl-end flex-wrap">
                                            <div class="d-flex align-items-center">
                                                <small class="text-muted mr-75">Issue Date: </small>
                                                <fieldset class="d-flex">
                                                    <input type="datetime-local" asp-for="NewHrPolicies.PolicyDate" name="NewHrPolicies.PolicyDate" id="qdDate" class="form-control" />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- logo and title -->
                                <div class="row my-2 py-50">
                                    <div class="col-sm-12 col-12 order-2 order-sm-1">
                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-2">
                                                <label for="heading" class="col-form-label">Heading :</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <input type="text" id="heading" asp-for="AddPolicies.PolicyHeading" name="AddPolicies.PolicyHeading" class="form-control" placeholder="Enter Heading" value="" required />
                                            </div>
                                        </div>
                                        <textarea class="form-control" rows="10" asp-for="AddPolicies.PolicyDetail" name="AddPolicies.PolicyDetail" id="bulletTextarea" placeholder="Enter Detail" value="" ></textarea>
                                    </div>                            
                                </div>

                                <div class="row" id="addSubHeading">
                                    <div class="col-12 subheading">

                                    </div>
                                </div>

                            <div class="col-12 ">
                                <button type="button" class="btn btn-success text-dark fw-bold" onclick="addSubHeading()">Add Sub Heading</button>
                                <button type="button" class="btn btn-primary text-dark ">Add bullets</button>
                       
                                <button type="button" class="btn btn-primary">Add bullets</button>
                                <button type="button" class="btn btn-primary">Add bullets</button>
                            </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <input type="submit" value="Next " class="btn btn-primary mb-5 mr-1"  onclick="onNext()"/>
                                </div>

                          

                        </div>
                    </div>
                </div>

             
            </div>
        </section>

    </div>
                </div>
                        
                <!-- END: Content-->
<script src="~/js/currentdatetime.js"></script>
<script>
    let clickCount = 6;
    function addHeading() {
        if (clickCount >= 11) {
            return; // Prevent further execution if the button has been clicked 5 times
        }
        console.log();

        let heading = document.getElementById('addheading');
        // heading.innerHTML = "";

        for (let i = 6; i <= clickCount; i++) {
            var newDiv = document.createElement('div');
            newDiv.className = "row1";
            if (i == clickCount) {
                let newRow = '<div class="row my-2 py-50"><div class="col-sm-12 col-12 order-2 order-sm-1"><div class="form-group row align-items-center">' +
                    '<div class="col-lg-2 col-3"><label for= "last-name" class= "col-form-label"> Heading ' + i + ':</label></div><div class="col-lg-6 col-9">' +
                    '<input type="text" id = "last-name" name="Heading' + i + '" class="form-control"  placeholder = "Enter Heading"/>' +
                    '</div></div><textarea class="form-control" name="Heading' + i + '_Detail" rows = "4" placeholder = "Enter Detail"></textarea></div></div>'
                newDiv.innerHTML = newRow;
                heading.appendChild(newDiv);
                
                }

    
        }
        clickCount++;

    }

    function removeHeading() {
        let heading = document.getElementById('addheading');
        let rows = heading.getElementsByClassName('row1');

        if (rows.length > 0) {
            heading.removeChild(rows[rows.length - 1]);
            clickCount--;
        }
    }


    function selectPolicy(eve){
        console.log(eve.value);
        const url = `/Home/newPolicy?id=${eve.value}`;
        window.location.href = url;
    }



</script>
<script>
    // document.getElementById('bulletTextarea').addEventListener('keydown', function (e) {
    //     if (e.key === 'Enter') {
    //         e.preventDefault();
    //         let cursorPos = this.selectionStart;
    //         let textBeforeCursor = this.value.substring(0, cursorPos);
    //         let textAfterCursor = this.value.substring(cursorPos);
    //         this.value = textBeforeCursor + "\n* " + textAfterCursor;
    //         this.selectionStart = this.selectionEnd = cursorPos + 3; // Adjust cursor position
    //     }
    // });

    document.getElementById('bulletTextarea').addEventListener('keydown', function (e) {
        if (e.key == 'Tab') {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            this.value = this.value.substring(0, start) +
                "\t" + this.value.substring(end);

            // put caret at right position again
            this.selectionStart =
                this.selectionEnd = start + 1;
        }
    });

    // const textarea = document.getElementById('bulletTextarea');

    // textarea.addEventListener('input', () => {
    //     const lines = textarea.value.split('\n');
    //     for (let i = 0; i < lines.length; i++) {
    //         if (lines[i].length > 0 && lines[i + 1] !== undefined) {
    //             if (lines[i + 1].length < lines[i].length) {
    //                 lines[i + 1] = ' '.repeat(lines[i].length - lines[i + 1].length) + lines[i + 1];
    //             }
    //         }
    //     }
    //     textarea.value = lines.join('\n');
    // });


    var onNext = () =>{

        const heading = document.getElementById("heading");
        const detail = document.getElementById('bulletTextarea');
        const date = document.getElementById('qdDate');
        const policyName = document.getElementById('policyName');

        var headvalue = heading.value;
        var detailvalue = detail.value;
        var datevalue = date.value;
        var policyNamevalue = policyName.value;

        var formattedText = detailvalue
            .replace(/\n/g, "<br>")
            .replace(/\t/g, "&emsp;");

        if (headvalue == "" ) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Home/HRDevelopPolicies?policyname=' + policyNamevalue + '&heading=' + headvalue + '&detail=' + formattedText + '&date=' + datevalue,
            success: function (response) {

                heading.value = "";
                detail.value = "";
            }

        });
    }

</script>

<script>

    var addSubHeading = () => {

        var subHeading = document.getElementById('addSubHeading');
        let newDiv = document.createElement("div");
        newDiv.className = "subheading";
        var newRow = '<div class="row my-2 py-50"><div class="col-sm-12 col-12"><div class="form-group row align-items-center"><div class="col-lg-1"><label for= "heading" class= "col-form-label">Prefix :</label></div>' +
            '<div class="col-lg-2"><input type="text" id = "prefix" asp-for= "AddPolicies.PolicyHeading" name = "AddPolicies.PolicyHeading" class= "form-control" placeholder = "Enter (A,a,1,2,#)" value = ""/></div>' +
            '<div class="col-lg-2"><label for= "heading" class= "col-form-label"> Sub Heading :</label></div><div class="col-lg-7" ><input type="text" id = "heading" asp-for= "AddPolicies.PolicyHeading" name = "AddPolicies.PolicyHeading" class= "form-control" placeholder = "Enter Heading" value = ""/></div>' +
            '</div><textarea class="form-control" rows = "10" asp -for= "AddPolicies.PolicyDetail" name = "AddPolicies.PolicyDetail" id="subDetail" placeholder = "Enter Detail" value = ""></textarea>' +
            '<div class="mt-3 d-flex justify-content-end"><input type="submit" value="Sub Heading" class="btn btn-primary mb-5 mr-1"  onclick="addSubHeading()"/></div></div></div>'
        newDiv.innerHTML = newRow;
        subHeading.appendChild(newDiv);

    }



</script>

