@{
    ViewData["Title"] = "Home Page";
}

<style>



    #scrollContent {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        white-space: nowrap;
    }

        #scrollContent > div {
            display: flex;
            animation: textScrollEffect 15s infinite linear;
        }

    @@keyframes textScrollEffect {
        from {
            transform: translateX(120%);
        }

        to {
            transform: translateX(-100%);
        }
    }
</style>

<div class="container-fluid m-0 p-0 mx-0 my-0 ">
    <img src="~/images/daewoo-logo-home.jpg" class=" img-fluid mx-0 m-0 p-0" />
</div>

<div class="container-fluid bg-white">
    <div class="row pt-3  ">
        <div class="col-12 ">
            <div class=" d-flex ">
                <div id="scrollContent">
                    <div class="pb-3">
                        <h1 class="text-capitalize display-1 fw-bold" style="color:#1e847f">
                            <span style="color:#c66b3d">Daewoo</span> Learning and Development
                        </h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid " style="background-image: url('/images/E-Learning.png'); ">

    <div class="row p-5">
        <div class="col-12 ">
            <div class="text-center display-3 fw-bold">
                @*Top Stories*@
            </div>
        </div>
    </div>


    @*<div class="display-1">My Name is Taimoor</div>*@
    <div class="row mt-5 ">
        <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title display-3">
                        Courses
                    </h4>
                </div>
                <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                        <video controls="controls">
                            <source src="~/Videos/WhatsApp%20Video%202024-04-25%20at%204.44.59%20PM.mp4" type="video/mp4" />
                        </video>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Candy cupcake sugar plum oat cake wafer marzipan jujubes.
                        Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon donut pastry gummies tiramisu
                        chocolate bar muffin.
                    </p>

                    <a href="javascript:void(0);" class="card-link">Card link</a>
                    <a href="javascript:void(0);" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title display-3">
                        Videos
                    </h4>
                </div>
                <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                  @*   <iframe src="~/Videos/WhatsApp%20Video%202024-04-24%20at%204.29.22%20PM.mp4" allowfullscreen></iframe> *@
                    <video controls="controls">
                        <source src="~/Videos/WhatsApp%20Video%202024-04-25%20at%204.44.59%20PM.mp4" type="video/mp4" />
                    </video>
              </div>
                <div class="card-body">
                    <p class="card-text">
                        Candy cupcake sugar plum oat cake wafer marzipan jujubes.
                        Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon donut pastry gummies tiramisu
                        chocolate bar muffin.
                    </p>

                    <a href="javascript:void(0);" class="card-link">Card link</a>
                    <a href="javascript:void(0);" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title display-3">
                        Training
                    </h4>
                </div>
                <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                    @* <iframe src="~/Videos/WhatsApp%20Video%202024-04-24%20at%204.29.22%20PM.mp4" allowfullscreen></iframe> *@
                    <video controls="controls">
                        <source src="~/Videos/WhatsApp%20Video%202024-04-25%20at%204.44.59%20PM.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Candy cupcake sugar plum oat cake wafer marzipan jujubes.
                        Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon donut pastry gummies tiramisu
                        chocolate bar muffin.
                    </p>

                    <a href="javascript:void(0);" class="card-link">Card link</a>
                    <a href="javascript:void(0);" class="card-link">Another link</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid p-0 m-0 ">
    <img src="~/images/3.png" class=" img-fluid " />
</div>

<div class="container-fluid p-0 m-0 ">
    <img src="~/images/2.png" class=" img-fluid mx-0 m-0 p-0" />
</div>
<div class="container-fluid p-0 m-0">
    <img src="~/images/6.png" class=" img-fluid mx-0 m-0 p-0" />
</div>
<div class="container-fluid p-0 m-0">
    <img src="~/images/5.png" class=" img-fluid mx-0 m-0 p-0" />
</div>
<div class="container-fluid " style="background-color: #271a51">
    <div class="container">
        <div class="row ">
            <div class="col-12 ">
                <img src="~/images/imageedit_1_9794225097.png" height="150" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 mt-5">
                <h1 class="text-white">Company Info</h1>
                <div class="text-capitalize text-white fs-4 pb-2">Daewoo Express Bus service ltd.</div>
                <div class="text-capitalize text-white fs-4 pb-2">Head office - 231 farozpur rd  lahore pakistan.</div>
                <div class=" text-white fs-4">www.daewoo.com.pk</div>
            </div>

            <div class="col-md-4 col-sm-4 mt-5">
                <h1 class="text-white">Contact Us</h1>
                <div class="text-capitalize text-white fs-4 pb-2">Cell: +92 310-8887302</div>
                <div class="text-capitalize text-white fs-4 pb-2">UAN: 111-007-006-Ext.307</div>
            </div>

            <div class="col-md-4 col-sm-4 mt-5">
                <h1 class="text-white">Follow Us</h1>
                <div class="row">
                    <div class="fonticon-container">
                        <div class="fonticon-wrap">
                            <i class="bx bxl-facebook-square text-white"></i>
                        </div>
                        <a href="https://www.facebook.com/daewoo.expressbus" class="nav-link text-white"> https://www.facebook.com/daewoo.expressbus  </a>
                    </div>
                </div>
                <div class="row">
                    <div class="fonticon-container">
                        <div class="fonticon-wrap">
                            <i class="bx bxl-instagram-alt text-white"></i>
                        </div>
                        <a href="https://www.instagram.com/daewoo.express/?hl=en" class="nav-link text-white"> https://www.instagram.com/daewoo.express/?hl=en </a>
                    </div>
                </div>
                <div class="row">
                    <div class="fonticon-container">
                        <div class="fonticon-wrap">
                            <i class="bx bxl-linkedin-square text-white"></i>
                        </div>
                        <a href="https://www.linkedin.com/company/daewoo-pakistan-express-bus-service/mycompany/" class="nav-link text-white"> https://www.linkedin.com/company/daewoo-pakistan-express-bus-service/mycompany/ </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="text-capitalize text-white fs-3"> © Daewoo Express Pakistan Bus Service Limited All Rights reserved</div>

            </div>
        </div>

    </div>

</div>
