
@{
    ViewData["Title"] = "TechnicalTraining";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container  ">
    <h1 class="display-3  my-3" @*style="margin-top:8rem"*@>Technical Training</h1>
    <div class="row">

        <div class="col-md-2 ">
            <a href="/Technical/TechnicalTraining?deprtname=Admin">
                <div class="card hover-overlay ripple  ">
                    <img src="~/images/1admin.png" />
                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Accounts, Finance and Taxation">
                <div class="card">
                    @* <img class="img-fluid card-img bg-warning" src="~/images/account.png" /> *@
                    <img class="img-fluid card-img bg-warning" src="~/images/2account.png" />
                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=HR">
                <div class="card">
                    @* <img class="img-fluid card-img" src="~/images/hr.png"> *@
                    <img src="~/images/15hr.png" />
                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=MIS">
                <div class="card">
                    @* <img class="img-fluid card-img" src="~/images/mis.png" alt="Deer in nature"> *@
                    <img src="~/images/10mis.png" />
                </div>
            </a>
        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Marketing and Services">
                <div class="card hover-overlay ripple shadow-1-strong " data-mdb-ripple-color="light">
                    @* <img class="img-fluid card-img rounded-3" src="~/images/market&service.png" alt="Deer in nature"> *@
                    <img src="~/images/9market&service.png" />
                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Supply chain and Procurement">
                <div class="card">
                    @* <img class="img-fluid card-img bg-warning" src="~/images/supply&precurment.png" alt="supply&precurment"> *@
                    <img src="~/images/12supply&precurment.png" />
                </div>
            </a>

        </div>
    </div>
    <div class="row mt-3 mb-4">


        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Operation">
                <div class="card">
                    @* <img class="img-fluid card-img" src="~/images/operation.jpg" alt="operation"> *@
                    <img src="~/images/11operation.png" />
                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Internal Audit">
                <div class="card">
                    @* <img class="img-fluid card-img" src="~/images/internalaudit.png" alt="internalaudit"> *@
                    <img src="~/images/6internalaudit.png" />
                </div>
            </a>
        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Fueling">
                <div class="card hover-overlay ripple shadow-1-strong " data-mdb-ripple-color="light">
                    @* <img class="img-fluid card-img rounded-3" src="~/images/fuleing.png" alt="Deer in nature"> *@
                    <img src="~/images/4fuleing.png" />
                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Govt. relations, Protocol and public relations ">
                <div class="card">
                    <img class="img-fluid card-img bg-warning" src="~/images/govt_relation.png" alt="Deer in nature">

                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Vigilance and monitoring">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/vigilance&monitoring.png" alt="Deer in nature">

                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Workshops">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/workshop.png" alt="Deer in nature">

                </div>
            </a>
        </div>
    </div>
    @*     <div class="row mt-3 mb-4">

    </div> *@
    <div class="row mt-3 mb-4">

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Commercial Property">
                <div class="card">
                    <img class="img-fluid card-img bg-warning" src="~/images/comercialproperty.png" alt="Deer in nature">

                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Investment and Planning">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/investment&planing.png" alt="Deer in nature">

                </div>
            </a>

        </div>

        <div class="col-md-2">
            <a href="/Technical/TechnicalTraining?deprtname=Legal">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/leagel.png" alt="Legal">

                </div>
            </a>
        </div>
    </div>

</div>

<div class="container-fluid m-0 p-0 " style="background-color: #2B3268;font-family:'Times New Roman', Times, serif ">
    <h1 class="text-center text-capitalize p-3  " style="color: #fcbe38 ">"Training Is not Expense, but an investment in human Capital" <sub class="h6 text-info">(Roy H. Williams)</sub></h1>
</div>

