
@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="container">


    <h1 class="display-3 mb-3" >Videos</h1>

    <div class="row">

        <div class="col-md-3">
            <a href="#">
                <div class="card hover-overlay ripple shadow-1-strong " data-mdb-ripple-color="light">
                    <img class="img-fluid card-img rounded-3" src="~/images/07.jpg" alt="Deer in nature">
                    <div class="card-img-overlay  d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Human Resourse</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img class="img-fluid card-img bg-warning" src="~/images/08.jpg" alt="Deer in nature">
                    <div class="card-img-overlay d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Information Technology</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-3">
            <a href="/Home/VideosDetails">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/07.jpg" alt="Deer in nature">
                    <div class="card-img-overlay d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Demo Videos</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/08.jpg" alt="Deer in nature">
                    <div class="card-img-overlay d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Accounts and Finance</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-md-3">
            <a href="#">
                <div class="card hover-overlay ripple shadow-1-strong " data-mdb-ripple-color="light">
                    <img class="img-fluid card-img rounded-3" src="~/images/07.jpg" alt="Deer in nature">
                    <div class="card-img-overlay  d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Human Resourse</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img class="img-fluid card-img bg-warning" src="~/images/08.jpg" alt="Deer in nature">
                    <div class="card-img-overlay d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Information Technology</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/07.jpg" alt="Deer in nature">
                    <div class="card-img-overlay d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Driver</h4>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img class="img-fluid card-img" src="~/images/08.jpg" alt="Deer in nature">
                    <div class="card-img-overlay d-flex">
                        <div class="my-auto mx-auto text-center">
                            <h4 class="card-title text-warning">Accounts and Finance</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="container-fluid m-0 p-0 " style="background-color: #2B3268;font-family:'Times New Roman', Times, serif ">
    <h1 class="text-center p-3 text-capitalize " style="color: #fcbe38 ">"Growth, the fruit of continuous learning."</h1>
</div>