
@{
    ViewData["Title"] = "VideosDetails";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}





<div class="container">
    <h1 class="text-center mb-5" >VideosDetails</h1>
    <div class="row mb-5" >

        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">
                <video controls="controls">
                    <source src="~/Videos/WhatsApp%20Video%202024-04-24%20at%204.29.22%20PM.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">
                <video controls="controls">
                    <source src="~/Videos/WhatsApp%20Video%202024-04-25%20at%204.44.57%20PM.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">
                <video controls="controls">
                    <source src="~/Videos/WhatsApp%20Video%202024-04-25%20at%204.44.59%20PM.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">
                <video controls="controls">
                    <source src="~/Videos/WhatsApp%20Video%202024-04-25%20at%204.44.58%20PM.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">

                <video controls="controls">
                    <source src="~/Videos/Circle%20of%20Influence%20-%20From%20The%207%20Habits%20of%20Highly%20Effective%20People_uj8dmSgQa1c_360p.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">
                <video controls="controls">
                    <source src="~/Videos/Masterpiece.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <div class="col-4 col-md-4 col-sm-4">
            <div class="card">

                <video controls="controls">
                    <source src="~/Videos/First%20things%20first.mp4" type="video/mp4" />
                </video>
            </div>
        </div>



    </div>

    

</div>
<div class="container-fluid m-0 p-0 " style="background-color: #2B3268;font-family:'Times New Roman', Times, serif ">
    <h1 class="text-center p-3 text-capitalize " style="color: #fcbe38 ">"Progress is a dance of lessons and rises."</h1>
</div>
