@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

<script>

    window.onload = function () {
        window.location.href = "/Identity/Account/login"; // replace "your/path/here" with the desired path
    };

</script>