@model DaewooLMS.Models.Emp_Chat_M

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Emp_Chat_M</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChatID" />
            <div class="form-group">
                <label asp-for="Emp_ID" class="control-label"></label>
                <input asp-for="Emp_ID" class="form-control" />
                <span asp-validation-for="Emp_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_Name" class="control-label"></label>
                <input asp-for="Emp_Name" class="form-control" />
                <span asp-validation-for="Emp_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_Designation" class="control-label"></label>
                <input asp-for="Emp_Designation" class="form-control" />
                <span asp-validation-for="Emp_Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSeen" /> @Html.DisplayNameFor(model => model.IsSeen)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MsgDate" class="control-label"></label>
                <input asp-for="MsgDate" class="form-control" />
                <span asp-validation-for="MsgDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

